* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  background-color: cornsilk;
}

#main-container {
  background-color: cornsilk;
  height: 100%;
}

/*NAVIGATION*/

#menu-container {
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  text-align: center;
}

#main-image {
  width: 100%;
  position: relative;

  text-align: center;
  height: 50vh;
  background: url(https://source.unsplash.com/GKN6rpDr0EI/960x640) bottom center
    no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-image p {
  translate: (-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  letter-spacing: 20px;
}

.menu-item {
  list-style: none;
  flex: 1;
}

.menu-item a {
  color: white;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*CONTENT*/

#text-container {
  /* max-width: 70vw;
  margin: 100px auto;
  background: white;
  padding: 3em 5em;
  text-align: justify; */

  max-width: 100%;
  margin: 70px auto;
  background: white;
  padding: 40px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
}

#text-container > img {
  height: 200px;
  width: 250px;
  border: 1px solid rgb(198, 198, 198);
  padding: 5px;
}

#text-container p {
  padding: 1em;
  /* box-shadow: inset 0 0 10px 1px gray; */
  width: 100%;
}

.title {
  text-align: center;
  padding: 1em;
}

/*SLIDE EFFECT*/

.align-right {
  float: right;
  margin-left: 1em;
}

.align-left {
  float: left;
  margin-right: 1em;
}

.slide-in {
  opacity: 0;
  transition: all 0.5s;
}

.align-left.slide-in {
  transform: translateX(-30%) scale(0.95);
}
.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0) scale(1);
}
